<DOCTYPE! html>
<html>

<head>
  <title>Beup Careers</title>
</head>
<body>
<h1>All jobs</h1>
  
</body>
<h3>Data Analyst</h3>
  Lagos, Nigeria  
<h4>Responsibilities</h4>
<p>
<ol> 
  <li>Arcu non odio euismod lacinia at quis risus sed vulputate. Rhoncus aenean vel elit scelerisque mauris. </li>
  
  <li>Et netus et malesuada fames ac. Ut morbi tincidunt augue interdum velit.</li>

  <li>Nisi lacus sed viverra tellus in hac habitasse platea.</li>
</ol>
</p>
 

<h4>Requirements</h4>
<p>
<ol> 

<li>Tellus id interdum velit laoreet id. Enim eu turpis egestas pretium aenean pharetra magna ac.</li>
<li>Placerat orci nulla pellentesque dignissim. Amet est placerat in egestas erat. Dui id ornare arcu odio ut. Mauris sit amet massa vitae tortor.</li>
</ol>
</p>
<h4>salary</h4>
Tellus id interdum
<h3>Application</h3>
<form>
Name
<input type="text" required placeholder='Enter your name'>
</form>  
</html>