<DOCTYPE! html>
<head>
  <title>Beup Career</title>
  <link rel='stylesheet' type='text/css' href ='https://beup-career-website.baribeop.repl.co/static/style.css'>
</head>
<body>
  <div id = 'container'>
  <h1>Beup Careers</h1>
  <img id = "banner" src="https://beup-career-website.baribeop.repl.co/static/banner.jpg"  alt='banner'>
  <h2>About Beup Career</h2>
  
<p>
We are committed to connect jobseeker to job opportunities and also provide the platform where they can send their application to the hiring firm seamlessly. 
</p>
<h2>Open positions</h2>
<h3>Data Analyst</h3>
  Lagos, Nigeria                         <button id='button'>Apply</button>
  <hr>
<h3>Backend Developer</h3>
  London, Uk                             <button id='button'>Apply</button>
  <hr>
<h3>Frontend Engineer</h3>
  Delhi, India                           <button id='button'>Apply</button>
  <hr>

 
  <button>Contact us</button>
</div>
</body>
